@import url('./variables.css');

main {
    padding-top: 32px;
}

.productViewContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.productInfoContainer {
    transition: 0.4s all;
    background-color: var(--background);
    padding: 48px;
    border-radius: 16px 0 0 16px;
    width: 100%;
    margin-left: 32px;
    margin-right: 0;
}

.productTitle {
    font-size: 24px;
    color: var(--gray);
}

.productSize {
    display: flex;
    flex-direction: row;
    padding-top: 8px;
    padding-bottom: 8px;
}

.heightSize {
    transform: rotate(315deg);
}

.widthSize {
    transform: rotate(45deg);
    margin-left: 12px;
    margin-right: 8px;
}

.price {
    font-size: 32px;
    font-weight: bold;
    color: var(--orange);
}

.formPrice {
    font-size: 16px;
    margin-top: 0;
    color: var(--gray);
    line-height: 10px;
}

.highlight {
    color: var(--orange);
}
.starIcon {
    margin-right: 4px;
    color: var(--stars-color-active);
}

.starIconInative {
    margin-right: 4px;
    color: var(--stars-color);
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 80%;
}

.productImage {
    width: 300px;
}

.inputCep  {
    width: 300px;
    border-radius: 8px 0 0 8px;
    padding: 12px;
    border: solid 2px var(--lightgray);
    border-right: none;
}

input[type='number']  {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 8px;
    padding: 12px;
    border: solid 2px var(--lightgray);
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

input[type='text']:focus, input[type='number']:focus  {
    transition: 0.6s;
    border-color: var(--florest-green);
    outline: none;
}

input[type='text']:focus {
    transition: 0.6s;
    border-color: var(--orange);
    outline: none;
}

.calcCEP {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    margin-top: 12px;
    margin-bottom: 12px;
}

.buyContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.buttonBuy:hover {
    transition: 0.4s;
    background-color: var(--olive-green);
}

.buttonBuy {
    border-radius: 8px;
    padding: 12px;
    margin-left: 8px;
    width: 400px;
    border: none;
    background-color: var(--florest-green);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: var(--white);
}

.buttonCalc {
    border-radius:  0 8px 8px 0;
    padding: 12px;
    width: 160px;
    border: none;
    background-color: var(--orange);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: var(--white);
}

.buttonCalc:hover {
    transition: 0.4s;
    background-color: #f58421;
}

.shortcutsContainer {
    display: flex;
    flex-direction: row;
}

.shortcutButton {
    padding: 12px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: var(--olive-green);
    border-radius: 8px;
    margin-right: 12px;
    color: var(--white);
    display: flex;
    align-items: center;
    text-align: center;
}

.shortcutButton a {
    border: none;  
    color: var(--white);
    margin-left: 4px;
}

.shortcutButton a:hover {
    color: var(--white);
}

.shortcutButton:hover {
    transition: 0.4s;
    background-color: var(--florest-green); 
}

.productDetails {
    padding: 24px;
    padding-bottom: 6px;
}

.productDetails p {
    margin-bottom: 5px;
}

.productDetails h3 {
    font-size: 20px;
    margin-top: 8px;
}

.productComments {
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin-bottom: 12px;
}

.productComments h2 {
    margin-bottom: 16px;
}

.allComments {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    flex-wrap: wrap;
}

.commentContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: var(--background);
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    margin-right: 12px;
    margin-bottom: 12px;
}

.commentSide {
    flex-direction: column;
}

.commentAvaliation {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.authorAvaliation {
    display: flex;
    flex-direction: column;
}

.authorAvaliation h3 {
    margin: 0;
    font-size: 20px;
}   

.starsContainer {
    display: flex;
    flex-wrap: nowrap;
}

.authorImageContainer {
    object-fit: cover;
    margin-right: 8px;
}

.authorImageContainer img {
    width: 60px;
    margin-left: 8px;
    margin-right: 8px;
}

.commentContent {
    padding: 8px;
}

.interactionButtonsContainer {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

.buttonReadMore {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    color: var(--white);
    border: none;
    width: 100px;
    padding: 8px;
    border-radius: 8px;
    margin-right: 12px;
}

.buttonReadMore:hover {
    transition: 0.4s;
    background-color: blue;
}

.buttonAddComment {
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    color: var(--white);
    border: none;
    width: 200px;
    align-self: flex-end;
    padding: 8px;
    border-radius: 8px;
    margin-right: 12px;
}

.buttonAddComment:hover {
    transition: 0.4s;
    background-color: #f58421;
}

@media (max-width: 991px)
{
    .productViewContainer {
        flex-wrap: wrap;
    }

    .productInfoContainer {
        width: 100%;
        border-radius: 0;
        margin: 0;
        margin-top: 18px;
    }

    .buttonBuy {
        width: 200px;
    }

    .buttonCalc {
        width: 110px;
    }

    .buttonCalc span {
        display: none;
    }

    .buttonCalc:after {
        content: 'Calcular'
    }

    .inputCep {
        width: 150px;
    }

    .shortcutButton {
        display: none;
    }

}   