:root {
    --olive-green: #6b8e23;
    --florest-green: #228B22;
    --orange: #F2994A;
    --blue: #2F80ED;
    --red: #E02929;
    --gray: #4F4F4F;
    --lightgray: #828282;
    --stars-color: #B6B3B3;
    --stars-color-active: #F2C34A;
    --white: #FFFFFF;
    --background: #F4F4F4;
}